src/main/mule/dwcs-pi-sf-prc-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dwcs-pi-sf-prc-app-daily-flow" doc:id="513a0309-19fc-4315-b308-23143a902e14" >
		<scheduler doc:name="Scheduler" doc:id="05269f4c-3d6b-4af8-825e-f943405b5874" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="global-api-common-entry-sub-flow" doc:id="79212d61-f122-4c92-9fa9-9ca7e40b7956" name="global-api-common-entry-sub-flow"/>
		<logger level="INFO" doc:name="Start" doc:id="f6a0c6fe-0ce5-4301-a5e3-323385f18b11" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	flow: "Start of flow : " ++ flow.name,&#10;	message: "Master Sync between Project Insights and SalesForce Started",&#10;	correlationId: vars.correlationId&#10;}]'/>
		<ee:transform doc:name="var : startDate &amp; endDate" doc:id="d4466dd3-1259-4515-b59e-4ac0015e5f19" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/v-dailyStartDate.dwl" variableName="startDate" />
				<ee:set-variable resource="dwl/v-dailyEndDate.dwl" variableName="endDate" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="pi-iteration-sub-flow" doc:id="a43de2e3-77e1-43e8-bf0e-8b0d910463ba" name="pi-iteration-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="01145baf-506b-494f-a7e7-f25afc83a2b4" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	flow: "End of flow : " ++ flow.name,&#10;	message: "Master Sync between Project Insights and SalesForce Ended",&#10;	correlationId: vars.correlationId&#10;}]'/>
	</flow>
	<!-- [STUDIO:"dwcs-pi-sf-prc-app-monthly-flow"]<flow name="dwcs-pi-sf-prc-app-monthly-flow" doc:id="16117fb4-6f7f-4716-b805-fce018e189e6" >
		<scheduler doc:name="Scheduler" doc:id="0abd64b8-1e8d-40d0-9ee8-3ae27be531a0" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="global-api-common-entry-sub-flow" doc:id="528a9974-35ab-4b6c-9e53-773c72b0f007" name="global-api-common-entry-sub-flow" />
		<logger level="INFO" doc:name="Start" doc:id="90f3250a-2a1e-4faa-9a0d-32b788ba64f1" message='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;{&#10;	flow: "Start of flow : " ++ flow.name,&#10;	message: "Master Sync between Project Insights and SalesForce Started",&#10;	correlationId: vars.correlationId&#10;}&#93;' />
		<flow-ref doc:name="pi-iteration-sub-flow" doc:id="b6e41f83-f9ed-4174-8385-4011d5da9cb3" name="pi-iteration-sub-flow" />
		<logger level="INFO" doc:name="End" doc:id="5b2374b5-27d9-49d9-a31f-19576dfd3092" message='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;{&#10;	flow: "End of flow : " ++ flow.name,&#10;	message: "Master Sync between Project Insights and SalesForce Ended",&#10;	correlationId: vars.correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
</mule>
